@charset "UTF-8";

 * {
    font-family:Arial, Helvetica, sans-serif ;
 }

html {
    box-sizing: border-box;
    background-color: #121212;
    color: #38b6ff;
}

/* Topo */

.background-topo {
    background: url(../Imagens/cloud-storage-background-remixed-from-public-domain-by-nasa.jpg)     no-repeat bottom 20% center;
    background-size: cover;
    height: 200px;
}

/* Corpo */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-perfil {
    width: 200px;
    margin-top: -80px;
    border-radius: 50%;
    border: 10px solid #121212;
}

main h1 {
    font-size: 26px;
    font-weight: bolder;
}

main p {
    font-weight: lighter;
}

#p-top {
    margin-bottom: 20px;


}
button {
    color: #121212;
    background-color: #38b6ff;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    font-size: 18px;
    width: 250px;
    height: 50px;
    margin: 5px;
}

button:hover {
    background-color: #121212;
    color: #38b6ff;
    border: 1px solid #38b6ff;
    transition: 0.6s;
    cursor: pointer;
}

.text-h2 {
    margin: 20px 0px;
    text-align: center;
}

/* Slide */

.carousel {
    height: 310px;
    width: 250px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.img-slide {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.botao-slide {
    width: 150px;
    align-items: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
}


/* Footer */

#button-ver-mais {
    margin-top: 20px;
}

footer {
    text-align: center;
}

footer p {
    margin: 25px 0px;
    font-size: 12px;
}

/* Hidden */

.hidden-img , .hidden-txt1, .hidden-txt2, .hidden-button1,  .hidden-button2,  .hidden-button3 {
    visibility: hidden;
}