@charset "UTF-8";

html {
    box-sizing: border-box;
    background-color: #121212;

}

.background-topo {
    background: url(../Imagens/cloud-storage-background-remixed-from-public-domain-by-nasa.jpg)     no-repeat bottom 20% center;
    background-size: cover;
    height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img{
    width: 200px;
    margin-top: -80px;
    border-radius: 50%;
    border: 10px solid #121212;
}